/* Styles for the upper List*/


/* defines the main properties */

ul.oben {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: green;  
    float:left; 
    width:100%;
    
    
}


/* left-alignes the list entries*/

li.oben {
    float: left;
    position:relative;
    
}


/* sets the properties of the links */ 

li.oben a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    width:150px;
    
}


/* hovers the entries */

#aktuell:hover li.links{
        
        display:block;
    
}

#analysiert:hover .dropdown-content{
    display:block;
   
}

/*li.oben a:hover{
        
    background-color:#00CD00;
    
}        */

.dropdown-content{
    display: none;
    position: absolute;
    background-color: hsla(122, 100%, 41%, 0.55);
}

.dropdown-content a{
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    
       
}


/* changes the style of the active choice */

li.aktiv {
  float:left;
  position: relative; 
  
}

li.aktiv a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    width:150px;
    text-decoration: none;
    background-color: #00CD00; 
    
    
}


/* sets the style of the comments shown in the upper-right corner */


li.oben-rechts {
    display: block;
    color:white;
    text-align: center;
    padding: 16px;
    float:right;
}



/* Styles for the left menu*/


/* sets the main properties */



ul.links {
    
    position:absolute;
    width:100%;
    margin: 0;
    padding: 0;
    
    
}



/* defines the style of the links */ 

li.links {
    display: none;
   float:none;
   
    
}



li.links a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    background-color: hsla(122, 100%, 41%, 0.55);
    
}

/* defines the style of the active choice */ 

li.links.aktiv {
    display: block;
    float:none;
    
}
 


li.links.aktiv a {
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    background-color: #00CD00;
    
}


/* hover */

li.links a:hover {
    background-color:#00CD00  ; 
}


/* Sets the position of the content */


div.Inhalt {
    position: absolute;
    top: 100px;
    left: 180px;
    display: none;
        }          
        
/* Propertoies of the current Voltage content */
   
#Spannung {
    position: absolute;
    top: 100px;
    left: 180px;
    display: none;
           }                           
        
#Ubersicht {
    position: absolute;
    top: 100px;
    left: 180px;
          }                    

/* styles of the table in "Aktuelle Werte" */

/* general styling of the table */

table.Ubertabelle {
    width: 800px;
    border-collapse: collapse;
    border: 5px solid hsla(0, 0%, 0%, 1); 
}


td,th {
    width: 200px;
    height: 30px;
    text-align: center;
    padding: 0px;
     
}

table.Bezeichnung th {
    padding-left: 5px;
    text-align: left;
}

table {
    border-collapse: collapse;
}

/* background colors for the different rows and collumns */

table.Bezeichnung {
    background-color: hsla(0, 0%, 67%, 1);
}

table.Phase1 {
    background-color: hsla(214, 100%, 50%, 1);
}

table.Phase2 {
    background-color: hsla(53, 100%, 50%, 1);
}

table.Phase3 {
    background-color: hsla(141, 100%, 35%, 1);
}

table.Phase1 tr:nth-child(even)  {
    background-color: hsla(214, 100%, 75%, 1) 
}

table.Phase2 tr:nth-child(even)  {
    background-color: hsla(53, 100%, 75%, 1) 
}

table.Phase3 tr:nth-child(even)  {
    background-color: hsla(141, 100%, 40%, 1) 
}

table.Bezeichnung tr:nth-child(even)  {
    background-color: hsla(0, 0%, 80%, 1);
}

#chartdiv {
  width: 100%;
  height: 500px;
}	