html {
  height: 100%;
  background-color: white;
}

body {
  display: block;
  margin:0;
  padding:0;
  height: 100%;
  font-family: 'robotolight','robotoregular',sans-serif,monospace;
  font-weight:300;
  letter-spacing: 0em;
}

/* Styles for the upper List*/


/* defines the main properties */

ul.oben {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: hsla(131, 100%, 15%, 0.80);
    float:left;
    width:100%;
}

/* left-alignes the list entries*/

li {
    float: left;
    position:relative;
}

/* sets the properties of the links */

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    width:150px;
    text-decoration: none;
    width:150px;
}

/* sets the main properties of the dropdown menu */

ul.links {
    display: none;
    position:absolute;
    width:100%;
    margin: 0;
    padding: 0;
}

/* defines the style of the links */

li.links {
   display: block;
   float:none;
   position:relative;
   z-index:1;
}

li.links a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    background-color:hsla(131, 100%, 15%, 0.8);
}

/* lets appear the dropdown menu  */

#aktuell:hover #akt{
    display:block;
}

#analysiert:hover #analy{
    display: block;
}

#historisch:hover #hist{
    display: block;
}

/* chances the color of the tabs while mousover it */

li.oben:hover{
    background-color: green;
}

li.links a:hover {
    background-color:green  ;
}

/* changes the style of the active choice of the upper menu */

li.aktiv a {
    background-color: #134201;
}

/* defines the style of the comment shown in the upper-right corner */

li.oben-rechts {
    display: block;
    color:white;
    text-align: center;
    padding: 16px;
    float:right;
}

/* styles of the table in "Aktuelle Werte" */

/* general styling of the table */

table.Ubertabelle {
    margin: auto;
}

table.Bezeichnung th {
  width: 170px;
  height: 30px;
  padding-left: 5px;
  text-align: left;
}

table.Phase1 td,th {
  width: 120px;
  height: 30px;
  text-align: center;
 }

table.Phase2 td,th {
  width: 120px;
  height: 30px;
  text-align: center;
}

table.Phase3 td,th {
  width: 120px;
  height: 30px;
  text-align: center;
}

#Norm1 td,th {
  width: 80px;
}

#Norm2 td,th {
  width: 80px;
}

#Norm3 td,th {
  width: 80px;
}

table {
    border-collapse: collapse;
}

table.FrequenzTabelle {
	width: 300px;
	margin-left: auto;             
	margin-right: auto;
  text-align: center;
}          
/* background colors for the different rows and collumns */

table.Bezeichnung {
    background-color: hsla(0, 0%, 90%, 1);
}

table.Phase1 {
    background-color: hsla(46, 100%, 75%, 1);
}

table.Phase2 {
    background-color: hsla(46, 75%, 75%, 1);
}

table.Phase3 {
    background-color: hsla(46, 50%, 75%, 1);
}

table.Phase1 tr:nth-child(even)  {
    background-color: hsla(46, 100%, 85%, 1) ;
}

table.Phase2 tr:nth-child(even)  {
    background-color: hsla(46, 75%, 85%, 1);
}

table.Phase3 tr:nth-child(even)  {
    background-color: hsla(46, 50%, 85%, 1) ;
}

table.Bezeichnung tr:nth-child(even)  {
    background-color: hsla(0, 0%, 95%, 1);
}

/* Sets the position of the content */


div.Inhalt_ist {
  position: absolute;
  top: 50px;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  display: none;
        }

div.Inhalt_hist {
    position: absolute;
    top: 50px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    display: none;
        }


div.Inhalt_analy {
  position: absolute;
  top: 50px;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  display: none;
        }

/* Propertoies of the content of "Übersicht" */

#Ubersicht_i { 
    display: block;
    padding: 50px;
    position: relative;
    width: auto;
    margin :auto;
}

/* properties of the graph's legends */

div.Legend {

display: inline-block; 
width: 200px;
margin-top: 10px;
position: absolute;
text-align: left;
right: 10px;
background-color: white;
z-index: 100;
}

/* positioning of the buttons for the analyse tabs */

.button_analy {
  position: absolute;
  display: block;
  left: 600px;
  top: 100px;
  margin: 1em;
  padding: 5px;
  padding-left:10px;
  padding-right:10px;
}

/* resize the table for the analyse tabs */

table.UberschreitungsTabelle {
  width: 400px;
}